---
import Layout from "../layouts/Layout.astro";
const logoSrc = "/src/assets/logo.svg";
import ProjectCard from "../components/ProjectCard.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Vaimiti DOCK | Design Portfolio">
  <main class="size-full px-8 py-6">
    <Navigation />
    {/* Hero section */}
    <div class="flex flex-col border-b-2 border-dotted py-40">
      <div class="ml-6 flex w-3/4 flex-col place-self-end pl-6">
        <div class="flex flex-row items-baseline">
          <div class="flex flex-row items-baseline pr-8">
            <p class="pr-1 text-6xl font-medium">Hell</p>
            <img src={logoSrc} alt="Logo" height="36" width="36" />
          </div>
          <div class="flex flex-row items-baseline">
            <p class="pr-2 text-6xl font-medium">w</p>
            <img src={logoSrc} alt="Logo" height="36" width="36" />
            <p class="pl-1 text-6xl font-medium">rld</p>
          </div>
        </div>
        <div>
          <p class="pt-10 text-sm">
            I'm Vai, an Independent Product Designer working from South East
            Asia who likes to create aesthetically pleasing and functional
            interfaces. I work across multiple disciplines from UX research,
            product design and management, to web design and branding.<br /> - Formerly
            at Shadow
          </p>
          <p class="pt-4 text-sm">
            You can find me on Twitter, Github or you can contact me to
            vaimiti.dock@gmail.com.
          </p>
        </div>
      </div>
    </div>

    {/* Section 1 */}
    <div class="flex flex-row items-start border-b-2 border-dotted py-40">
      <div class="flex flex-row space-x-6">
        <div class="flex w-1/4">
          <div class="flex flex-row items-baseline">
            <p class="pr-2 text-base font-medium">Selected</p>
            <div class="flex flex-row items-baseline">
              <p class="pr-0.5 text-base font-medium">w</p>
              <img src={logoSrc} alt="Logo" height="10" width="10" />
              <p class="pl-0.5 text-base font-medium">rks</p>
            </div>
          </div>
        </div>
        <div class="flex w-3/4 flex-col">
          <div class="grid-col-6 grid grid-flow-row gap-4 pb-8">
            <div class="col-span-4 col-start-1 row-span-1">
              <ProjectCard
                thumbnail="/src/assets/covers/ichiba-thumbnail.jpg"
                alt="Ichiba market project thumbnail"
                title="Ichiba Market"
                category="Web Design"
                date="2024"
              />
            </div>
            <div class="col-span-2 col-start-5 row-span-2">
              <ProjectCard
                thumbnail="/src/assets/covers/onix-thumbnail.jpg"
                alt="Onix wallet project thumbnail"
                title="Onix Wallet Extension"
                category="UX/UI Design"
                date="2023"
              />
            </div>
          </div>
          <div class="grid-col-6 grid grid-flow-row gap-4">
            <div class="col-span-2 col-start-1 row-span-2">
              <ProjectCard
                thumbnail="/src/assets/covers/shadow-wallet-thumbnail.jpg"
                alt="Shadow wallet project thumbnail"
                title="Shadow Wallet Extension"
                category="UX/UI Design"
                date="2022-2023"
              />
            </div>

            <div class="col-span-4 col-start-3 row-span-1">
              <ProjectCard
                thumbnail="/src/assets/covers/shadow-exchange-thumbnail.jpg"
                alt="Shadow Exchange project thumbnail"
                title="Shadow NFT Exchange"
                category="UX/UI Design"
                date="2021-2023"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    {/* Section 2 */}
    <div
      class="flex size-full flex-row items-start border-b-2 border-dotted py-40"
    >
      <div class="flex flex-row space-x-6">
        <div class="flex w-1/4">
          <div class="flex flex-row items-baseline">
            <p class="pr-2 text-base font-medium">Side</p>
            <div class="flex flex-row items-baseline">
              <p class="pr-0.5 text-base font-medium">pr</p>
              <img src={logoSrc} alt="Logo" height="10" width="10" />
              <p class="text-base font-medium">jects</p>
            </div>
          </div>
        </div>
        <div class="flex w-3/4">
          <div class="grid-col-6 grid grid-flow-row gap-4">
            <div class="col-span-4 col-start-1 row-span-1">
              <ProjectCard
                thumbnail="/src/assets/covers/boc-thumbnail.jpg"
                alt="Build onchain project thumbnail"
                title="Build onchain"
                category="UX/UI Design"
                date="2024"
              />
            </div>
            <div class="col-span-2 col-start-5 row-span-2">
              <ProjectCard
                thumbnail="/src/assets/covers/gimmy-thumbnail.jpg"
                alt="Gimmy mobile app project thumbnail"
                title="Gimmy Mobile App"
                category="UX/UI Design"
                date="2024"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    {/* Section 3 */}
    <div class="border-b-2 border-dotted py-40">
      <div class="flex w-full flex-row">
        <div class="flex w-1/4">
          <div class="col-span-2 col-start-1 row-span-1">
            <div class="flex size-5/12 flex-row items-baseline">
              <p class="pr-2 text-base font-medium">Site</p>
              <div class="flex flex-row items-baseline">
                <p class="pr-0.5 text-base font-medium">inf</p>
                <img src={logoSrc} alt="Logo" height="10" width="10" />
              </div>
            </div>
          </div>
        </div>
        <div class="flex w-3/4">
          <div class="text-sm">
            <p>
              This is the first website I build from scratch after learning some
              js and React. <br />
              <br /> This site is built with Astro and is hosted on Vercel, you can
              view the code source here. I used Tailwind CSS framework and the font
              is Spline Sans Mono only.
            </p>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </main>
</Layout>

<style>
  main {
    width: 100%;
  }
</style>
