---
import BaseLayout from "../layouts/BaseLayout.astro";
import DefaultCard from "../components/DefaultCard.astro";
---

<BaseLayout title="Vaimiti DOCK | Playground">
  <main class="size-full px-4 py-6 md:px-8">
    {/* Hero section */}
    <div class="flex flex-col pt-32 lg:pl-8">
      <div class="flex flex-col lg:w-2/3 lg:place-self-end">
        <div class="flex flex-row items-baseline">
          <p class="pr-0.5 text-3xl font-medium">Playgr</p>
          <img src="/assets/logo.svg" alt="Logo" height="18" width="18" />
          <p class="pl-0.5 text-3xl font-medium">und</p>
        </div>
        <p class="pt-2 text-sm">
          Some of my design, code and animation experiments.
        </p>
      </div>
    </div>
    {/* Section lab */}

    <div
      class="columns-1 gap-4 px-2 pb-40 pt-32 sm:columns-2 md:columns-3 lg:columns-4"
    >

      <div class="mb-4 break-inside-avoid">
        <DefaultCard
          mediaType="video"
          mediaSrc="/assets/experiments/neon-line.mp4"
          style="w-full"
          justify="start"
          title="Neon line • Figma"
          showDescription={false}
        />
      </div>

      <div class="mb-4 break-inside-avoid">
        <DefaultCard
          mediaType="video"
          mediaSrc="/assets/experiments/figma-button.mp4"
          style="w-full"
          justify="start"
          title="Button pulse • Figma"
          showDescription={false}
        />
      </div>

      <div class="mb-4 break-inside-avoid">
        <DefaultCard
          mediaType="video"
          mediaSrc="/assets/experiments/arcade-room.mp4"
          style="w-full"
          justify="start"
          title="Interactive Arcade • Rive"
          showDescription={false}
        />
      </div>

      <div class="mb-4 break-inside-avoid">
        <DefaultCard
          mediaType="video"
          mediaSrc="/assets/experiments/bid-demo.mp4"
          style="w-full"
          justify="start"
          title="Slide to Bid • LottieLab"
          showDescription={false}
        />
      </div>

      <div class="mb-4 break-inside-avoid">
        <DefaultCard
          mediaType="video"
          mediaSrc="/assets/experiments/glitch-logo.mp4"
          style="w-full"
          justify="start"
          title="Glitch logo • After Effects"
          showDescription={false}
        />
      </div>

      <div class="mb-4 break-inside-avoid">
        <DefaultCard
          mediaType="video"
          mediaSrc="/assets/experiments/wheel.mp4"
          style="w-full"
          justify="start"
          title="Wheel Offer • LottieLab"
          showDescription={false}
        />
      </div>

      <div class="mb-4 break-inside-avoid">
        <DefaultCard
          mediaType="video"
          mediaSrc="/assets/experiments/rewards-center.mp4"
          style="w-full"
          justify="start"
          title="Rewards Center • LottieLab"
          showDescription={false}
        />
      </div>

      <div class="mb-4 break-inside-avoid">
        <DefaultCard
          mediaType="video"
          mediaSrc="/assets/experiments/icons-shopping.mp4"
          style="w-full"
          justify="start"
          title="Shopping Icons • LottieLab"
          showDescription={false}
        />
      </div>

    </div>
  </main>
</BaseLayout>

<style>
  main {
    width: 100%;
  }
</style>
