---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { projects } from "../../lib/projects";
import DefaultCard from "../../components/DefaultCard.astro";
import PaginationButton from "../../components/PaginationButton.astro";

const project = projects.find((project) => project.id === "shadow-exchange");
---

<ProjectLayout project={project!}>
  <main class="size-full">
    <div class="flex w-full px-4 pb-52 md:px-8">
      <DefaultCard
        mediaType="video"
        mediaSrc="/assets/projects/shadow-exchange/sync-balances.mp4"
        style="w-full md:w-9/12"
        justify="start"
        title="Syncronized wallet balances with market possibilities"
        showDescription={false}
      />
    </div>
    <div class="flex w-full justify-end px-4 pb-52 md:px-8">
      <DefaultCard
        mediaType="video"
        mediaSrc="/assets/projects/shadow-exchange/bulk-buying.mp4"
        style="w-full md:w-9/12"
        justify="end"
        title="Bulk buying NFTs across marketplaces"
        showDescription={false}
      />
    </div>
    <div class="flex w-full px-4 pb-52 md:px-8">
      <DefaultCard
        mediaType="video"
        mediaSrc="/assets/projects/shadow-exchange/metadata-view.mp4"
        style="w-full md:w-9/12"
        justify="start"
        title="NFT Metadata views and Activity panel"
        showDescription={false}
      />
    </div>
    <div class="flex w-full justify-end px-4 pb-52 md:px-8">
      <DefaultCard
        mediaType="video"
        mediaSrc="/assets/projects/shadow-exchange/portfolio-analytics.mp4"
        style="w-full md:w-9/12"
        justify="end"
        title="Advanced stats and Batch listings from the portfolio view"
        showDescription={false}
      />
    </div>
    <div class="flex w-full px-4 pb-52 md:px-8">
      <DefaultCard
        mediaType="video"
        mediaSrc="/assets/projects/shadow-exchange/rebrand.mp4"
        style="w-full md:w-9/12"
        justify="start"
        title="Rebranding: from VIV3 to Shadow"
        showDescription={false}
      />
    </div>
    <div class="flex flex-row px-4 md:px-8 pb-6 border-b-2 border-dotted">
      <PaginationButton href="shadow-wallet" justify="start" label="Previous" page="Shadow Wallet"></PaginationButton>
      <PaginationButton href="ichiba" justify="end" label="Next" page="Ichiba Market"></PaginationButton>
    </div>
  </main>
</ProjectLayout>
