---
import BaseLayout from "./BaseLayout.astro";
import Link from "../components/Link.astro";
import type { Project } from "../lib/projects";
import Media from "../components/Media.astro";

interface Props {
  project: Project;
}

const props = Astro.props;
---

<BaseLayout title={props.project.name}>
  <div
    class="flex w-full flex-col-reverse px-4 pb-52 pt-40 md:px-8 lg:flex-row-reverse lg:space-x-6"
  >
    <div class="flex flex-none flex-col space-y-8 lg:w-4/12 lg:pl-8 lg:pt-1">
      <div class="flex flex-col space-y-4">
        <h3 class="sr-only font-medium lg:not-sr-only">{props.project.name}</h3>
        <p class="text-sm">
          {props.project.description}
        </p>
      </div>
      <div class="flex flex-col space-y-1">
        <h4 class="font-medium">Team</h4>
        {
          props.project.team.map((teamMember) =>
            teamMember.socialLink ? (
              <Link href={teamMember.socialLink} external>
                {teamMember.role}: {teamMember.name}
              </Link>
            ) : (
              <p class="text-sm">
                {teamMember.role}: {teamMember.name}
              </p>
            ),
          )
        }
      </div>
      <div class="flex flex-col space-y-1">
        <h4 class="font-medium">Design tools</h4>
        <p class="text-sm">{props.project.tools}</p>
      </div>
      <div class="flex flex-col space-y-1">
        <h4 class="font-medium">Link</h4>
        <Link href={props.project.link} external>{props.project.linkText}</Link>
      </div>
    </div>
    <div
      class="flex w-full flex-col-reverse space-y-2 pb-6 md:!m-0 lg:flex-col lg:pb-0"
    >
      <div class="flex flex-row pt-2 lg:pt-0">
        <h4 class="w-full font-medium">{props.project.scope}</h4>
        <h4 class="w-full text-end font-medium lg:text-start">
          {props.project.year}
        </h4>
      </div>
      <Media
        type={props.project.mediaType}
        src={props.project.mediaSrc}
        alt={props.project.mediaAlt}
      />
    </div>
    <h3 class="not-sr-only font-medium lg:sr-only">{props.project.name}</h3>
  </div>
  <slot />
</BaseLayout>
